@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
body {
  background-color: #f7fff7;
  color: #191919;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

h1 {
  font-family: 'Montserrat', 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

.page-enter-active, .page-leave-active {
  transition: opacity .2s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: all 0.2s;
  max-height: 230px;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
  max-height: 0px;
}
.fade-move {
  transition: transform 0.5s;
}